.navbar{
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(15, 150, 223);
  font-size: 15px;
}
.navbar img{
 margin-top: 20px;
 margin-right: 50px;
 height: 50px;
 width: 80px;
 border-radius: 80px;
}