.cafe-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
/* Blogs container style */
.Blogs-container{
    width: 100%;
    /* border: 2px solid salmon; */
    margin-left: 40px;
}
.cart-container{
    margin-left: 50px;
    /* border: 2px solid salmon; */
}

/*This container ... respnsive */
@media only screen and (max-width: 600px) {
    .cafe-container{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .Blogs-container{
        width: 90%;
        /* border: 2px solid salmon; */
    }
    .cart-container{
        margin-left: 10px;
        /* border: 2px solid salmon; */
    }
  }